/*
Form
==================================================
*/


.form-input-normal {
  height: 38px;
  background-color: #f1f1f1;
  border-width: 1px;
  border-color: #e2e2e2;
  border-style: solid;
}