/*
Variables
==================================================
*/

// Primary Colors
$success: #27ae60;
$info: #7f8c8d;
$warning: #f39c12;
$danger: #c0392b;
$white: #ffffff;
$black: #202020;
$gray: #e6e6e6

// Brand Colors
$dark-blue: #202635;
$light-blue: #ced4e9;
$orange: #ffb82a;
$light-gray: #f6f6f6;

// Typography Colors
$text-dark: #202635;
$text-gray: #777777;
$text-light: #c3c6d9
$input-gray: #ababab;

